
<footer class="footer">
  <div class="footer-image">
  <div class="footer-wrap">
    <nav>
      <ul class="site-link">
        <li><a href="mailto:4919.org@gmail.com">Contact</a></li>
        <li><a href="<%= param.rootPath %>term">利用規約</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="ex-link">
      </ul>
    </nav>
    <a href="http://ubi-lab.naist.jp/"><img src="<%= param.rootPath %>img/logo_naist-ubi.png" class="naist-logo"></a>
    <p><small>&copy; copyright 2018/ 4919 for Ikoma</small></p>
  </div>
</footer>
</body>
</html>
