<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <title>4919 for Ikoma | <%= param.pageName %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">

  <meta property="og:title" content="4919 | <%= param.pageName %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= param.absolutePath %>" />
  <meta property="og:image" content="<%= param.absolutePath %>img/ogp/4919forIkoma.png" />
  <meta property="og:site_name" content="4919 for Ikoma" />
  <meta property="og:description" content="4919(食育) for Ikomaは、成長期の小中学生が毎日食べる給食を中心に子供の食育をサポートするアプリケーションです。" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@naist_ubi" />
  <meta property="fb:app_id" content="1239994606080052" />

  <link rel="stylesheet" href="css/style.css">
  <script src="https://use.typekit.net/hby3saz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>

<header class="menubar">
  <div class="action-wrap">
    <a href="/"><h1><span>4919</span></h1></a>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#opendata">OpenData</a></li>
        <li><a href="#member">Member</a></li>
        <li><a href="#download">Download</a></li>
      </ul>
    </nav>
  </div>
</header>
