<header class="menubar">
    <div class="action-wrap">
        <a href="<%= param.rootPath %>">
            <h1><span>4919</span></h1>
        </a>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#opendata">OpenData</a></li>
                <li><a href="#history">History</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#member">Member</a></li>
                <li><a href="#download">Download</a></li>
            </ul>
        </nav>
    </div>
</header>