html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}


//-----------------//
//    variables    //
//-----------------//

$brand-yellow-normal: #FFF247;
$brand-yellow-dark: #F2E14B;

$brand-green-normal: #00A93A;
$brand-green-dark: #008428;

$gray-light: #ccc;
$gray-normal: #999;
$gray-dark: #666;


//-------------------//
//    basic style    //
//-------------------//


html {
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  background: white;
  font-family: "tbchibirgothicplusk-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $brand-green-normal;
  font-weight: bold;
}
a:hover {
  color: $brand-green-dark;
}

a:focus {
  outline: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

sup {
  font-size: 0.75em;
  vertical-align: top;
  position: relative;
  top: -0.2em;
  margin: 0 0.2em;
}

.bg-gray {
  background: #f2f2f2;
}


//------------------//
//    custom css    //
//------------------//

header.menubar {
  display: block;
  width: 100%;
  height: 100px;
  background: $brand-yellow-dark;
  opacity: 0.9;
  position: fixed;
  z-index: 1000;
  @media screen and (max-width: 640px)  {
    height: 50px;
  }
  div.action-wrap {
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    h1 {
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 0 0 10px;
      background: url("../img/logo_4919_icon.png") center center no-repeat;
      span {
        display: none;
        visibility: hidden;
      }
      @media screen and (max-width: 640px)  {
        width: 50px;
        height: 50px;
        background-size: 100%;
        margin: 0;
      }
    }
    nav ul {
      float: right;
      margin: 0 20px 0 0;
      @media screen and (max-width: 800px)  {
        display: none;
        visibility: hidden;
      }
      li {
        height: 100px;
        float: left;
        a {
          display: block;
          height: 100px;
          line-height: 100px;
          padding: 0 30px;
          color: $brand-green-dark;
          font-size: 20px;
          letter-spacing: 2px;
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
}

div.main {
  min-height: 100vh;
  width: 100vw;
  div.contents {
    section.content {
      width: 100vw;
      @media screen and (min-width: 640px)  {
        padding: 20px 0 0;
      }
      h1 {
        font-size: 2em;
        line-height: 1.2em;
        margin: 10px 0 25px;
        font-weight: bold;
      }
      h2 {
        font-size: 1.5em;
        line-height: 1.2em;
        margin: 30px 0 15px;
        font-weight: bold;
      }
      h3 {
        font-size: 1.3em;
        font-weight: bold;
      }
      h4 {
        font-size: 1.2em;
        font-weight: bold;
        margin: 5px 0 5px;
      }
      h1, h2, h3 {
        span {
          display: inline-block;
          padding: 0 0 0 2ex;
          font-size: 0.6em;
          color: #666;
          @media screen and (max-width: 640px)  {
            display: block;
            padding: 0;
          }
        }
      }
      p {
        padding: 20px 0 0;
        line-height: 1.8em;
        @media screen and (max-width: 640px)  {
          padding: 5px 0 0;
          line-height: 1.4em;
        }
        &.footnote {
          margin: 20px 0;
          border: 1px solid #eee;
          border-width: 1px 0 0;
        }
        img.full-width-img {
          display: block;
          width: 100%;
          max-width: 1000px;
          margin: 30px auto;
        }
      }
      img.right-img {
        float: right;
        width: 30%;
        margin: 0 0 10px 5%;
      }
      ul {
        list-style: disc;
        padding: 10px 0;
        li {
          margin: 2px 0 2px 25px;
          ul {
            list-style: circle;
            padding: 8px 0;
          }
        }
      }
      dl {
        padding: 0 10px;
        dt {
          width: 125px;
          float: left
        }
      }
      div.content-wrap {
        display: block;
        width: auto;
        max-width: 1200px;
        padding: 60px 40px;
        margin: 0 auto;
        @media screen and (max-width: 640px)  {
          padding: 40px 20px;
        }
      }
      &.top-visual {
        height: 100vh;
        margin: 0;
        background: $brand-yellow-normal url("../img/logo_4919_top.png") center center no-repeat;
        @media screen and (max-width: 710px)  {
          background-size: 50vw auto;
        }
        @media screen and (max-height: 860px)  {
          background-size: auto 37vh;
          background-position: center 28vh;
        }
      }
      &.sub-page-top-visual {
        margin: 0 0 60px;
        padding: 130px 0 0;
        background: $brand-yellow-normal;
        color: $brand-green-dark;
        h1 span {
          color: $brand-green-normal;
        }
      }
      &.news-list {
        margin: 60px 0 60px;
      }
    }
    &.top-page {
      a.page-link {
        float: right;
        margin: 20px 5px;
        padding: 5px 30px;
        position: relative;
        &:after {
          position: absolute;
          top: 50%;
          margin: -6px 10px 0;
          content: "";
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 7px solid transparent;
          border-left: 10px solid $brand-green-normal;
        }
        &:hover:after {
          border-left: 10px solid $brand-green-dark;
        }
      }

      div.left-description {
        margin-right: 55%;
        @media screen and (max-width: 640px)  {
          margin: 0;
        }
      }
      div.app-ss {
        float: right;
        width: 50%;
        margin: 0 0 20px 5%;
        text-align: center;
        img {
          width: 44%;
          padding: 20px 2% 0;
        }
        @media screen and (max-width: 640px)  {
          float: none;
          width: 80vw;
          img {
            float: none;
          }
        }
      }
      div.history {
        float: none;
        text-align: center;
        img{
          width:80vw;
        }
      }
      div.top-download-link {
        position: absolute;
        width: 80vw;
        padding: 0 10vw;
        left: 0;
        bottom: 5vh;
        text-align: center;
        @media screen and (min-height: 860px) and (max-width: 640px) {
          img {
            width: 50vw;
          }
        }
        @media screen and (max-height: 860px) {
          img {
            width: auto;
            max-width: 38vw;
            max-height: 10vh;
          }
        }
      }
      div.download-link {
        margin: 20px 0;
        @media screen and (min-width: 640px)  {
          width: 50%;
          float: right;
        }
        @media screen and (max-width: 640px)  {
          text-align: center;
          img {
            width: 60vw;
          }
        }
      }
      section.team {
        ul.member {
          margin: 30px 0 0;
          list-style: none;
          li {
            margin: 0 0 30px;
            width: auto;
            min-height: 200px;
            img {
              float: left;
              width: 200px;
              border-radius: 4px;
              margin: 0 30px 10px 0;
              @media screen and (max-width: 640px)  {
                width: 100px;
                margin: 0 15px 10px 0;
              }
            }
            div.member-data {
              margin-left: 230px;
              @media screen and (max-width: 640px)  {
                margin-left: 115px;
              }
            }
            p.bio {
              font-size: 0.9em;
              line-height: 1.6em;
              margin: 15px 0;
              font-size: 0.8em;
              @media screen and (max-width: 640px)  {
                padding: 10px 0;
                margin: 5px 0;
              }
            }
          }
        }
        ul.work li {
          min-height: auto;
          list-style: none;
          float: left;
          padding: 5px 10px;
          margin: 0 10px 10px 0;
          color: $brand-green-normal;
          border: 1px solid $brand-green-normal;
          border-radius: 3px;
          @media screen and (max-width: 640px)  {
            padding: 3px 6px;
            font-size: 0.6em;
            margin: 0 5px 5px 0;
          }
        }
      }
    }
    &.privacy-policy {
      section.content {
        h2, h3 {
          max-width: 800px;
          margin: 40px auto 20px;
        }
        p {
          padding: 10px 0;
          max-width: 800px;
          margin: 0 auto;
        }
        ul {
          max-width: 800px;
          margin: 0 auto;
          li {
            list-style: none;
            min-height: 30px;
            line-height: 30px;
            span.at:after {
              content: "@";
            }
          }
        }
      }
    }
  }
}


footer.footer {
  margin: 100px 0 0;
  width: 100vw;
  div{
    display: block;
    width: 100%;
    &.footer-image{
      padding: 90px 0 0;
      background-color: white;
      background-image: url(../img/footer_image.png);
      background-position: top center;
      background-repeat: no-repeat;
    }
    &.footer-wrap{
      background: $brand-yellow-normal;
      padding: 40px 0 20px 0;
      margin: 0 auto;
      color: #00A93A;
      text-align: center;
      a {
        color: #00A93A;
      }
      ul.site-link{
        list-style-type: none;
        li{
          display: inline-block;
          padding: 5px;
          margin: 10px;
        }
      }
      ul.ex-link{
        list-style-type: none;
        li{
          display: inline-block;
          padding: 5px 0 0 0;
          margin: 10px;
        }
      }
      span.gmail-domain:before {
        content: "@gmail.com";
      }
      img.naist-logo {
        max-width: 90vw;
        padding: 20px 0;
      }
    }
  }
}
