<%
var absolutePath = filename.split("source/html/")[1].replace("index.ejs","");
var rootPath = "../".repeat([absolutePath.split("/").length -1]);
var pageName = absolutePath.replace("/", "");
var param = {
  pageName: pageName == "" ? "top" : pageName,
  absolutePath: "https://4919.github.io/" + absolutePath,
  rootPath: rootPath == "" ? "./" : rootPath
};
-%>
<%- include(param.rootPath + "template/header", {param: param}) -%>
  <%- include(param.rootPath + "template/menubar", {param: param}) -%>

<div class="main">
  <div class="contents term">
    <section class="content sub-page-top-visual">
      <div class="content-wrap">
        <h1>Term<span>利用規約</span></h1>
      </div>
    </section>
    <section class="content">
      <div class="content-wrap">
        <h2>4919 for Ikoma 利用規約</h2>
        <br>
        <p>
          本サービスは、河中祥吾および松田裕貴（以下、「我々」といいます。）が作成し、2017年3月に行われた Ikoma Civic Tech Award 2016 のアプリ部門にて最優秀賞を受賞した「4919 for
          Ikoma」というスマートフォン用給食献立アプリケーションです。
          本サービスは、生駒市が開示している給食献立オープンデータを利用し、誰でも手軽に給食献立を手元のスマートフォンで、下記からダウンロードできるアプリ（以下、「本アプリ」といいます）を通じて提供しています。
          本サービスを御利用になる方（以下「利用者」といいます。）は、必ず事前に本規約の各条項をお読みいただき、同意の上で御利用ください。
          本利用規約は、全ての利用者と我々との間に適用されるものとし、利用者は、本アプリにおいて情報を閲覧すること及びその他の本サービスを利用することによって、本利用規約に同意したものとみなします。
          <br>
          [本アプリダウンロードURL]
          <br>
          Android：<a href=https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.ikoma4919&hl=ja> https://play.google.com/store/apps/details?id=jp.naist.ubi_lab.ikoma4919&hl=ja</a>
          <br>
          iOS：<a href=https://itunes.apple.com/jp/app/4919forikoma/id1200891893?mt=8>https://itunes.apple.com/jp/app/4919forikoma/id1200891893?mt=8</a>
        </p>
        <br>
        <h2> 第１条（利用条件）</h2>
        <ol>
          <li>利用者は、本利用規約を遵守し、本サービスの利用に伴う全てについて、自ら責任を負うものとします。</li>
          <li>本サービスの利用は無償とします。ただし、本サービスを利用するために必要な環境整備、維持管理費及び通信費用の一切は、利用者の責任と費用負担で行うものとします。</li>
          <li>本サービスは、献立データのの管理データベースとしてGoogle社が提供するクラウドサービス Firebase を、 サービスの利用状況の把握のために Google analytics を利用しています。 これらの利用により収集されたデータは、Google社のプライバシーポリシーに基づいて管理されます。利用者は、本サービスを利用するにあたり、次の規約等を遵守するものとします。また、</li>

          <ol>
            <li> 「Google利用規約」：<a href=https://policies.google.com/terms?hl=ja>https://policies.google.com/terms?hl=ja</a> </li>
            <li> 「Firebaseサービスの利用規約」：<a href=https://firebase.google.com/terms/?hl=ja>https://firebase.google.com/terms/?hl=ja</a> </li>
            <li>  Firebase向けGoogleアナリティクス利用規約」：<a href=https://firebase.google.com/terms/analytics/>https://firebase.google.com/terms/analytics/</a> </li>
            <li> 「Googleプライバシーポリシー」：<a href=http://www.google.com/intl/ja/policies/privacy/>http://www.google.com/intl/ja/policies/privacy/</a> </li>
            <li> 「Firebaseプライバシーポリシー」：<a href=https://firebase.google.com/policies/analytics/?hl=ja>https://firebase.google.com/policies/analytics/?hl=ja</a></li>
          </ol>

          <li>我々は、本アプリにて閲覧できる給食献立情報は生駒市が公開する給食献立オープンデータを我々が編集し提供しています。ただし、我々はこれに対する義務は負わないものとします。</li>
          <li>我々は、理由を問わず、利用者に事前通知、催告及びいかなる補償をすることなく、本サービスに関して、内容の一部若しくは全部の変更、仕様の変更、休止又は廃止をすることができるものとします。</li>
          <li>本サービスの全てを廃止する場合には、我々が適当と判断する方法で事前に利用者にその旨を通知し、又は本アプリ内等で告知するものとします。</li>
        </ol>

        <h2> 第３条（知的財産権）</h2>
        <ol>
          <li>本アプリ及び本サービスを通じて提供する文字、キャラクター、商標等の素材等に関する一切の権利（所有権、知的財産権、肖像権、パブリシティー権等）は、我々又は当該権利を有する第三者に帰属しています。</li>
          <li>利用者は、本サービスについて、一切の権利を取得することはないものとし、権利者の許可なく、所有権、著作権を含む一切の知的財産権、肖像権、パブリシティー権等、本サービスに関する全ての権利を侵害する一切の行為をしてはならないものとします。ただし、私的利用目的で本サービスを利用する行為は除くものとします。</li>
          <li>本条の規定に違反して問題が発生した場合、利用者は自己の費用と責任において問題を解決することとし、我々に何らかの迷惑又は損害を与えないものとします。</li>
        </ol>

        <h2> 第４条（禁止事項）</h2>
        <ol>
          <li>利用者は、本サービスの利用に当たって、以下の行為又はそのおそれがある行為を行ってはならないものとします。</li>
          <ol>
            <li> 公の秩序もしくは善良な風俗を害する目的または犯罪行為その他違法な行為に用いる目的で本サービスを利用すること</li>
            <li> 利用者又は第三者の所有権、著作権を含む一切の知的財産権、肖像権、パブリシティー権等の正当な権利を侵害すること</li>
            <li> 他の利用者又は我々もしくは第三者に不利益、損害を与えること</li>
            <li> 本サービスの運営を妨害すること</li>
            <li> 本サービスの信用を失墜、毀損させること</li>
            <li> その他、我々が合理的な理由に基づき不適切と判断する行為</li>
          </ol>
          <li>本規約への同意による契約上の地位を第三者に移転することはできません。</li>
        </ol>


        <h2> 第５条（サービスの停止・中止）</h2>
        <ol>
          <li>
            我々は、以下の事由に起因する場合、利用者に対して一切の補償をすることなく、本サービスの全部又は一部を停止することができるものとします。また当該事由に起因して利用者又は第三者に損害が発生した場合においても、一切の責任を負わないものとします。</li>
          <ol>
            <li>定期的又は緊急に本サービス提供のためのコンピュータシステムの保守・点検を行う場合</li>
            <li>火災、停電、天災地変等の非常事態により、本サービスの運営が不可能となった場合</li>
            <li>戦争、内乱、暴動、労働争議等により、本サービスの運営が不能となった場合</li>
            <li>本サービス提供のためのコンピュータシステムの不良及び第三者からの不正アクセス、コンピュータウイルスの感染等により本サービスを提供できない場合</li>
            <li>法律、法令等に基づく措置により、本サービスが提供できない場合</li>
            <li>その他、我々が止むを得ないと判断した場合</li>
          </ol>
          <li>我々は、前項の規定により本サービスの運用を停止する場合、我々が適当と判断する方法により、事前に利用者及び第三者にその旨通知するものとします。ただし、緊急の場合はこの限りではありません。</li>
          <li>我々は、事前に利用者及び第三者に通知および補償をすることなく、本サービスの内容又は名称を変更することができるものとします。</li>
        </ol>

        <h2> 第５条（免責）</h2>
        <ol>
          <li>我々は、本サービスの内容の正確性、完全性及び有用性を保証するものではありません。我々は、本サービスの利用により利用者又は第三者に損害が生じた場合、理由の如何を問わず、その損害に対して一切の責任を負わないものとします。</li>
          <li>我々は、本サービスの内容が、利用者又は第三者の権利を侵害し又は権利の侵害に起因して紛争が生じた場合、その侵害及び紛争に対して一切の責任を負わないものとします。</li>
          <li>利用者の利用環境又は通信環境等その他の理由により、本サービスが正常に利用できない場合があります。我々は、利用者が使用する端末の環境等に基づき生じた損害について、賠償する義務を一切負わないものとします。</li>
          <li>我々は、我々の故意又は重過失がある場合を除き、本サービスからのダウンロードやコンピュータウイルスにより発生した使用端末等の損害について、賠償する義務を一切負わないものとします。</li>
          <li>本アプリにリンクが設定されている他のWebサイト等は、各Webサイト等の運営者が提供するものです。当該Webサイト等の内容及びその利用により、利用者又は第三者に損害が生じた場合であっても、我々は一切責任を負いません。</li>
          <li>本アプリへのリンクは、原則フリーです。リンク元サイトのコンテンツが（１）公序良俗に反するもの（２）法律・法令等に違反し又は違反するおそれがある内容を含むものと認められる場合には、リンクはお断り致します。
            リンクの設定をされる際は本アプリへのリンクである旨を明示してください（許可や連絡は必要ありません）。 リンクの設定をされる際は本アプリが他のホームページ中に組み込まれるような設定はしないでください。</li>

        </ol>

        <h2> 第６条（規則改訂）</h2>
        <ol>
          <li>我々は、随時本規約を改訂することができるものとします。</li>
          <li>本規約の改訂は、改訂後の本規約が利用者に閲覧可能な状態になった時点より効力を生じるものとします。</li>
        </ol>
        
        <h2>問い合わせ先</h2>
        <p>
          本利用規約についてのお問い合わせ、または個人情報の照会については、下記までご連絡ください。
        </p>
        <ul>
          <li>メールアドレス：<a href="mailto:4919.org@gmail.com">4919.org<span class="at"></span>gmail.com</a></li>
        </ul>
        <br>
        <h3>最終更新日： 2018年9月28日</h3>
      </div>
    </section>
  </div>
</div>


<%- include(param.rootPath + 'template/footer', {param: param}) -%>